@use "./base.scss";

// put your custom CSS here!


.project-photos {
    display: flex;
    justify-content: space-between;
    gap: 10px
}

.project {
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}